<nav class="navbar navbar-expand-lg" style="background-color:#063663; color: white; text-align: center;">
    <div class="container-fluid d-flex justify-content-center align-items-center" style="height: 10vh;">
        <div class="footer-content">
            <p>All Rights Reserved &copy; 2024 Imara Daima Technologies</p>
            <ul style="list-style-type: none; padding: 0;">
                <li style="display: inline; margin-right: 15px;">
                    <a href="https://www.facebook.com/profile.php?id=100064276205357" target="_blank" style="color: white;">Facebook</a>
                </li>
                <li style="display: inline;">
                    <a href="https://www.linkedin.com/company/imara-daima-technologies-ltd" target="_blank" style="color: white;">LinkedIn</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
